<tr>

    <td><%= rect._id %></td>
    <td><%= rect.email %></td>
    <td><%= rect.width %></td>
    <td><%= rect.height %></td>
    <td><%= rect.title %></td>
    <td><%= rect.color %></td>
    <td><%= rect.description %></td>
    <td><%= rect.city %></td>
  
</tr>